@import "tailwindcss";

:root {
  --background: #020202;
  --foreground: #f9fafb;
  --accent: #2e7d32;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sticker: var(--font-pacifico);
}

body {
  background: radial-gradient(circle at top, #022c22 0, #020617 40%, #000 80%);
  color: var(--foreground);
}
